@charset "UTF-8";

html {
 overflow-y: scroll;
}

#playerTableHead{
    width: 500px;
    margin: 20px 20px 50px 20px;
     table-layout:fixed;
}

.theadfont1{
     font: normal normal normal 100%/100% "Jenkins v2.0";
}

.btn-groupstyle1{
    height: 50px;
    position: fixed;
    top: 615px;
    right: 355px;
}

.positionstyle1 {
      position: fixed;
      top: 545px;
      right: 55px;
}

.btn-style1{
    background: rgb(180, 180, 180);
    color: #f9f9f9;
    border: 3px #dbdbdb outset;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 8px;
}

.btn-style1:hover, .style1:focus {
    background: rgb(200, 200, 200);
}

.btn-style1:active {
    background: rgb(170, 170, 170);
    border: 3px #dbdbdb inset;
}

.labelstyle1{
     margin: 0px 20px 0px 20px;
}

#textbox1{
    width: 500px;
    margin: 0px 20px;
}

#charactorTableHead{
      width: 500px;
      position: absolute;
      top: 20px;
      left: 650px;
      table-layout:fixed;
}

#NumColumn{
     width: 300px;
}

.positionstyle2 {
      position: fixed;
      top: 680px;
      right: 55px;
}

#textbox2{
    width: 500px;
    margin: 0px 20px;
}

.btn-groupstyle2{
    height: 50px;
    position: fixed;
    top: 750px;
    right: 55px;
}

#PlayerAndcharactorTableHead{
    width: 500px;
    position: absolute;
    top: 20px;
    left: 1300px;
}

.btn-groupstyle3{
    height: 50px;
    position: fixed;
    top: 845px;
    right: 490px;
}

.positionstyle3 {
      position: fixed;
      top: 815px;
      right: 25px;
}

.tdatafont1{
      font: normal normal 400 100%/120% "Meiryo" ;
}

.jyugemuimage{
       position: absolute;
       top: 20px;
       left: 2000px;
       width: 150px;
       height: 150px;
       border: 1px #ff0000 solid;
}